<!doctype html>
<html>
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link th:href="@{/assets/css/user.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<th:block th:include="includes/header"></th:block>
		<div id="content">
			<div id="user">
				<form id="login-form" name="loginform" method="post" th:action="@{/user/auth}">
					<label class="block-label" for="email">이메일</label>
					<input id="email" name="email" type="text" th:value="${email}">
					<label class="block-label" >패스워드</label>
					<input name="password" type="password" value="">
					<th:block th:if="${result == 'fail'}">
						<p>
							로그인이 실패 했습니다.
						</p>
					</th:block>
					<input type="submit" value="로그인">
				</form>
			</div>
		</div>
		<th:block th:include="includes/navigation"></th:block>
		<th:block th:include="includes/footer"></th:block>
	</div>
</body>
</html>